# OpenSearch 관리자 비밀번호 (대문자, 소문자, 숫자, 특수문자 포함 필수)
OS_ADMIN_PASSWORD=PASSWORD

# PostgreSQL 데이터베이스 비밀번호
POSTGRES_PASSWORD=PASSWORD

# Grafana 관리자 비밀번호
GRAFANA_PASSWORD=PASSWORD

# 프론트엔드용
VITE_API_URL=http://localhost:8000

POLICY_FILE_PATH=[YOUR_POLICY_PATH]

NEO4J_URI=bolt://localhost:7687
NEO4J_USER=USER
NEO4J_PASSWORD=PASSWORD

GEMINI_API_KEY=

SLACK_WEBHOOK_URL=

DASHBOARD_URL=